#back {
    position: fixed;
    inset: 0;
    z-index: -1;
    
    width: 100%;
    height: 100vh;

}

#back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#back::after {
    content: '';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.5) 50%, rgba(10, 12, 16, 0.79) 85%);
}