* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgb(250, 250, 250);
    font-weight: 600;

        input:focus,
    textarea:focus,
    select:focus {
        outline: none;
        border: 2px solid #280137;
        box-shadow: 0 0 5px rgba(89, 1, 107, 0.5);
    }
}

body {

    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.main{
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-left: 820px;
}

.subtitle {
    font-size: 28px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
}

.info {
    font-size: 20px;
    text-align: center;
    margin-top: 4px;

}

.input{
    width: 300px;
    height: 40px;
    background: rgb(255, 255, 255, 0.45);
    border-radius: 40px;
    opacity: 0.75;

    margin-top: 2px;

    text-align: center;
    color: #000000;

    border: none;
}

.bnts{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;



}
.back {
    width: 150px;
    height: 60px;
    border-radius: 60px;
    background: #15349C;
    border: none;
    position: relative;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;

    margin-right: 28px;
    
}
.save {
    width: 150px;
    height: 60px;
    border-radius: 60px;
    background:#39FF14;
    border: none;
    position: relative;
    font-size: 20px;
    z-index: 0;
    cursor: pointer;
}

.save:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background-size: 400%;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}
.back:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    background-size: 400%;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 60px;
}

.save:active {color: #000000;}
.back:active {color: #000000;}

.save:active:after {background: transparent;}
.back:active:after {background: transparent;}

.save:hover:before {opacity: 1;}
.back:hover:before {opacity: 1;}

.save:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #39FF14;
    left: 0;
    top: 0;
    border-radius: 60px;
}

.back:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #15349C;
    left: 0;
    top: 0;
    border-radius: 60px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

* select {
    font-family: "Poppins", sans-serif;
    appearance: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}