@import url('./footer.css');
@import url('./form.css');
@import url('./main.css');
@import url('./background.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body,
button,
a,
input {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #333;
}

.card {
    position: relative;
    width: 500px;
    min-width: 200px;
    height: 114px;

    overflow: hidden;

    margin: auto;
    padding: 32px 32px 40px;

    display: flex;
    flex-direction: column;
    row-gap: 24px;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 12px;

    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    transition: all 0.3s;

}
.card.active {
    height: auto;
}

#humidity,
#speed-wind,
#temperature {
    font-weight: 600;
    font-family: 'Special Gothic Condensed One', sans-serif;
    margin: 0 0 1px 10px;
}