.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 100vh;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 23px #26395338;  
    width: 400px;
}

.topCard {
    padding: 20px;
    padding-top: 0px;
}

.title {
    color: #2b3d59;
}

.smallText {
    color: #828fa1;
    font-size: 14px;
}

.bottomText{
    color: red;

}


.media {
    background: url('https://i.pinimg.com/originals/72/2a/79/722a79f34d5693f86da8d18120d5e27d.png') center/cover;
    height: 300px;
    height: 100%;
}

.bottomCard {
    padding: 20px;
}

.btnCard {
    background: none;
    border: none;
    color: purple;
}