body {
    background: #2b3d59;
}

.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 100vh;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 23px #26395338;  
    width: 400px;

 
}

.topCard {
    padding: 20px;
    padding-top: 0px;
}

.title {
    color: #2b3d59;
}

.smallText {
    color: #828fa1;
    font-size: 14px;
}

.bottomText{
    color: rgb(59, 125, 151);

}


.media {
    height: 300px;
    height: 80%;

       .img {
        width: 100%;
        height: 50%;
       
        background-size: cover;
    }
}

.bottomCard {
    padding: 20px;
}

.btnCard {
    background: none;
    border: none;
    color: purple;
}